<section class="reviews">
    <div class="container">
        <div class="reviews__inner">
            <h2 class="reviews__title">
                Отзывы
            </h2>
            <p class="reviews__text">
                Ваше мнение важно для нас
            </p>
        </div>
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <% for (let i = 0; i < reviews.length; i += 2) { %>
                    <div class="swiper-slide">
                        <div class="review__wrapper">
                            <div class="review__card">
                                <div class="review__header">
                                    <span class="review__name"><%= reviews[i].name %></span>
                                    <span class="review__date"><%= reviews[i].date %></span>
                                </div>
                                <div class="review__stars">
                                    <% for (let j = 0; j < reviews[i].stars; j++) { %>
                                        <svg class="review__star" viewBox="0 0 20 20" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.07088 1.42436C9.41462 0.607896 10.5854 0.607897 10.9291 1.42436L12.9579 6.24325C13.1029 6.58745 13.4306 6.82262 13.8067 6.85241L19.0727 7.26949C19.9649 7.34016 20.3267 8.44014 19.6469 9.01541L15.6348 12.4107C15.3482 12.6532 15.223 13.0338 15.3106 13.3963L16.5363 18.473C16.744 19.3331 15.7969 20.013 15.033 19.5521L10.5245 16.8316C10.2025 16.6372 9.7975 16.6372 9.47548 16.8316L4.96699 19.5521C4.20311 20.013 3.25596 19.3331 3.46363 18.473L4.68942 13.3963C4.77698 13.0338 4.65182 12.6532 4.36526 12.4107L0.353062 9.01541C-0.326718 8.44014 0.0350679 7.34016 0.927291 7.26949L6.19336 6.85241C6.5695 6.82262 6.89716 6.58745 7.04207 6.24325L9.07088 1.42436Z"
                                                  fill="#FF4D4D"/>
                                        </svg>
                                    <% } %>
                                    <% for (let j = reviews[i].stars; j < 5; j++) { %>
                                            <svg class="review__star review__star-empty" viewBox="0 0 20 20" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.07088 1.42436C9.41462 0.607896 10.5854 0.607897 10.9291 1.42436L12.9579 6.24325C13.1029 6.58745 13.4306 6.82262 13.8067 6.85241L19.0727 7.26949C19.9649 7.34016 20.3267 8.44014 19.6469 9.01541L15.6348 12.4107C15.3482 12.6532 15.223 13.0338 15.3106 13.3963L16.5363 18.473C16.744 19.3331 15.7969 20.013 15.033 19.5521L10.5245 16.8316C10.2025 16.6372 9.7975 16.6372 9.47548 16.8316L4.96699 19.5521C4.20311 20.013 3.25596 19.3331 3.46363 18.473L4.68942 13.3963C4.77698 13.0338 4.65182 12.6532 4.36526 12.4107L0.353062 9.01541C-0.326718 8.44014 0.0350679 7.34016 0.927291 7.26949L6.19336 6.85241C6.5695 6.82262 6.89716 6.58745 7.04207 6.24325L9.07088 1.42436Z"
                                                      fill="#FF4D4D"/>
                                            </svg>
                                    <% } %>
                                </div>
                                <div class="review__text">
                                    "<%= reviews[i].text %>"
                                </div>
                                <a class="review__link" href="#">Читать весь отзыв</a>
                            </div>
                            <% if (i + 1 < reviews.length) { %>
                                <div class="review__card">
                                    <div class="review__header">
                                        <span class="review__name"><%= reviews[i + 1].name %></span>
                                        <span class="review__date"><%= reviews[i + 1].date %></span>
                                    </div>
                                    <div class="review__stars">
                                        <% for (let j = 0; j < reviews[i + 1].stars; j++) { %>
                                            <svg class="review__star" viewBox="0 0 20 20" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.07088 1.42436C9.41462 0.607896 10.5854 0.607897 10.9291 1.42436L12.9579 6.24325C13.1029 6.58745 13.4306 6.82262 13.8067 6.85241L19.0727 7.26949C19.9649 7.34016 20.3267 8.44014 19.6469 9.01541L15.6348 12.4107C15.3482 12.6532 15.223 13.0338 15.3106 13.3963L16.5363 18.473C16.744 19.3331 15.7969 20.013 15.033 19.5521L10.5245 16.8316C10.2025 16.6372 9.7975 16.6372 9.47548 16.8316L4.96699 19.5521C4.20311 20.013 3.25596 19.3331 3.46363 18.473L4.68942 13.3963C4.77698 13.0338 4.65182 12.6532 4.36526 12.4107L0.353062 9.01541C-0.326718 8.44014 0.0350679 7.34016 0.927291 7.26949L6.19336 6.85241C6.5695 6.82262 6.89716 6.58745 7.04207 6.24325L9.07088 1.42436Z"
                                                      fill="#FF4D4D"/>
                                            </svg>
                                        <% } %>
                                        <% for (let j = reviews[i + 1].stars; j < 5; j++) { %>
                                            <svg class="review__star review__star-empty" viewBox="0 0 20 20" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.07088 1.42436C9.41462 0.607896 10.5854 0.607897 10.9291 1.42436L12.9579 6.24325C13.1029 6.58745 13.4306 6.82262 13.8067 6.85241L19.0727 7.26949C19.9649 7.34016 20.3267 8.44014 19.6469 9.01541L15.6348 12.4107C15.3482 12.6532 15.223 13.0338 15.3106 13.3963L16.5363 18.473C16.744 19.3331 15.7969 20.013 15.033 19.5521L10.5245 16.8316C10.2025 16.6372 9.7975 16.6372 9.47548 16.8316L4.96699 19.5521C4.20311 20.013 3.25596 19.3331 3.46363 18.473L4.68942 13.3963C4.77698 13.0338 4.65182 12.6532 4.36526 12.4107L0.353062 9.01541C-0.326718 8.44014 0.0350679 7.34016 0.927291 7.26949L6.19336 6.85241C6.5695 6.82262 6.89716 6.58745 7.04207 6.24325L9.07088 1.42436Z"
                                                      fill="#FF4D4D"/>
                                            </svg>
                                        <% } %>
                                    </div>
                                    <div class="review__text">
                                        "<%= reviews[i + 1].text %>"
                                    </div>
                                    <a class="review__link" href="#">Читать весь отзыв</a>
                                </div>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <div class="reviews__links-box">
            <a class="reviews__link reviews__link-btn" href="">Оставить отзыв</a>
            <a class="reviews__link reviews__link-arrow" href="">Все отзывы</a>
        </div>
    </div>
</section>